<div class="flex" id="boxs">

    <div id="spotify-col" class="w-1/2">


        <div>
            <div class="text-center md:text-2xl font-extrabold">Spotify Songs</div>

            <div class="text-center text-xs text-gray-400">Add Songs To Download</div>


            <div class=" mt-4 flex justify-center">
                <button type="button" id="removeAll"
                    class="hover:scale-110 text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 shadow-lg shadow-red-500/50 dark:shadow-lg dark:shadow-red-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 md:after:content-['Remove_All']"><i
                        class="fa-solid fa-trash"></i>
                </button>

                <button type="button"
                    class="hover:scale-110 text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 md:after:content-['Add_All_Songs']"><i
                        class="fa-solid fa-plus"></i>
                </button>
            </div>
        </div>
        <div id="spotify-cards"></div>





    </div>



    <div id="yt-col" class="w-1/2">
        <div>
            <div class="text-center md:text-2xl font-extrabold">Youtube Songs</div>
            <div class="text-center text-xs text-gray-400">Download From Here</div>

            <div class=" mt-4 flex  justify-center">
                <div>
                    <button type="button"
                        class=" hover:scale-110 text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 shadow-lg shadow-red-500/50 dark:shadow-lg dark:shadow-red-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 md:after:content-['Remove_All']"><i
                            class="fa-solid fa-trash"></i>
                    </button>
                </div>
                <div>
                    <button type="button"
                        class="hover:scale-110 text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 md:after:content-['Download_All']"><i
                            class="fa-solid fa-download"></i>
                    </button>
                </div>
            </div>
        </div>

    </div>


</div>
