{%extends 'base.html'%}

{%block title%}Spoti2Tube {%endblock%}
{%block content%}


<div class="container mx-auto mt-36">
    <div
        class="text-center text-[30px] md:text-[52px] font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-theme1 to-theme2">
        Download
        Spotify Songs</div>

    <form id="search_form" class="flex rounded shadow-sm">
        <input type="text" id="search"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-[90%] p-1  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Search or Paste Spotify Playlist/Track link">
        <button class="rouneded-lg bg-gradient-to-r from-theme2 to-theme1 p-[0.7rem] text-white">Search</button>
    </form>

</div>

{%endblock%}
